extends layout
block content
 h1= title
 - let hauntedplacesid = toShow._id
 - let hauntedplacesaddress = toShow.address
 - let hauntedplacesyear = toShow.year
 - let hauntedplacesdescription = toShow.description

 div
   div.row
     div(class='hauntedplacesAttr mr-3') ID for the haunted place is:
     div #{hauntedplacesid}
   div.row
     div(class='hauntedplacesAttr mr-3') Address of the haunted place is:
     div #{hauntedplacesaddress}
   div.row
     div(class='hauntedplacesAttr mr-3') Year of incident happened at the haunted place is:
     div #{hauntedplacesyear}
   div.row
     div(class='hauntedplacesAttr mr-3') Description of the incident at the haunted place is:
     div #{hauntedplacesdescription}