extends layout
block content
    h1= title
    - let hauntedplacesid = toShow._id
    - let hauntedplacesaddress = toShow.address
    - let hauntedplacesyear = toShow.year
    - let hauntedplacesdescription = toShow.description
    div
        div.row
            div(class='hauntedplacesAttr mr-3') Haunted place ID is:
            div #{hauntedplacesid}
        div.row
            div(class='hauntedplacesAttr mr-3') Haunted place address is:
            div #{hauntedplacesaddress}
        div.row
            div(class='hauntedplacesAttr mr-3') Haunted place year is:
            div #{hauntedplacesyear}
        div.row
            div(class='hauntedplacesAttr mr-3') Haunted place description is:
            div #{hauntedplacesdescription}